<mat-nav-list class="course-list">
    @for (c of courses; track c.id) {
    @if(c){
    <div class="course-card">
        <h2>{{ c.title }}</h2>
        <p><strong>title:</strong>--- {{ c.title }}</p>
        <p><strong>teacher:</strong> ---{{ c.teacherId }}</p>
        <p><strong>description:</strong> ---{{ c.description }}</p>

        <button (click)="leaveCourse(c)">עזיבה</button>

        <button (click)="join(c)" >הצטרפות</button>


        <button (click)="deleteCourse(c)">Delete</button>

        <mat-toolbar>
            <button mat-stroked-button color="accent" [routerLink]="['/courses', c.id]" class="details-button"></button>
        </mat-toolbar>
    </div>
    }
    }
</mat-nav-list>

<button (click)="addCourse()">הוספה</button>