<form class="register-container register-form" [formGroup]="userForm" (ngSubmit)="register()">
    <label for="name">Username:</label>
    <input id="name" formControlName="name" required>
  
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password" required>
  
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email" required>
  
    <label for="role">Role:</label>
    <mat-form-field appearance="fill">
      <mat-label>Role</mat-label>
      <mat-select formControlName="role" required>
        <mat-option value="admin">Admin</mat-option>
        <mat-option value="student">Student</mat-option>
        <mat-option value="teacher">Teacher</mat-option>
      </mat-select>
    </mat-form-field>

  
    <button type="submit" >Register</button>
  </form>
  