<form #myForm="ngForm" (ngSubmit)="login(myForm)">
    <label for="userEmail">Useremail:</label>
    <input [(ngModel)]="user.email" name="userEmail" #userEmail1="ngModel" required minlength="3">
{{userEmail1.errors }}
{{userEmail1.touched}}
    @if(userEmail1.touched && userEmail1.hasError('required')){
    <small class="error-invalid">name is required.</small>
    }
    @if(userEmail1.hasError('minlength')){
    <small class="error-invalid">email must be at least 3 characters long.</small>
    }
    <label for="password">Password:</label>
    <input [(ngModel)]="user.password" name="userPassword" #userPassword1="ngModel" required >
    {{userPassword1.errors }}
    {{userPassword1.touched }}
        @if(userPassword1.touched && userPassword1.hasError('required')){
        <small class="error-invalid">name is required.</small>
        }

    <button type="submit" [disabled]="myForm.invalid">Submit</button>
</form>